.ideContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 90%;

  color: var(--white-25);

  .textArea {
    padding: 1rem;
    display: flex;

    gap: 0.5rem;
  }

  .teste {
    align-items: end;
    width: 12.5rem;
  }
  .teste2 {
    width: 15rem;
  }

  .teste,
  .teste2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  code {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border-bottom: 1px solid var(--white-25);
    color: var(--white-50);
    background-color: var(--white-10);
  }

  .vscLogo {
    color: var(--second-background-color);
  }
}
